$black-color: #000000;
$white-color: #ffffff;
$background-color: #f8f8f8;
$spice-color-one: #fd4848;
$spice-color-two: #4974fc;
$spice-color-three: #ff6c1f;

@import "about";
@import "contact";
@import "projectPrev";
@import "work";

::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 16px;
  @media screen and(max-width:1000px) {
    font-size: 14px;
  }
}
.l {
  &:hover {
    color: $spice-color-one;
    cursor: pointer;
  }
}
.container {
  width: 100%;
  position: relative;
  margin: 3rem 0;
  .copyright {
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    width: 90%;
    margin-top: 4rem;
    @media screen and(max-width:1000px) {
      font-size: 0.8rem;
    }
    span {
      font-size: 0.9rem;

      color: #fd4848;
      cursor: grab;
    }
    @media screen and(max-width:1000px) {
      font-size: 0.8rem;
    }
  }

  .logoS {
    display: none;
    background: transparent;
    @media screen and(max-width:1000px) {
      top: 2rem;
      left: 2rem;
      position: fixed;
      display: flex;
      z-index: 200 !important;
      font-size: 2.5rem;
    }
    @media screen and(max-width:600px) {
      left: 1rem;
      font-size: 2rem;
    }
  }
  .plateHolder {
    display: block; // for main
  }
  .menu {
    position: fixed;
    z-index: 20;
    height: 1.8rem;
    display: none;
    background: transparent;
    transition: all 1s ease-in-out;
    @media screen and (max-width: 1000px) {
      display: block;
      top: 2rem;
      right: 2rem;
    }
    @media screen and(max-width:600px) {
      right: 1rem;
      top: 1.8rem;
      height: 1.7rem;
    }
  }
  .nav {
    width: 100%;
    overflow: hidden;

    @media screen and(max-width:1000px) {
      width: 100%;
      position: fixed;
      top: 6rem;
      height: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      z-index: 40;
    }
    @media screen and(max-width:1000px) {
    }

    .navbtn {
      position: fixed;
      font-size: 2.05rem;
      z-index: 1;

      font-weight: 500;
      @media screen and(max-width:1000px) {
        all: unset;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }
    .logo {
      left: 2rem;
      top: 2rem;
      @media screen and(max-width:1000px) {
        top: 2rem;
        position: fixed;
        display: flex;
        z-index: 200 !important;
        font-size: 2.5rem;
        display: none;
      }
    }
    .work {
      right: 2rem;
      top: 2rem;
      @media screen and(max-width:600px) {
        all: unset;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }
    .about {
      left: 2rem;
      bottom: 2rem;
      @media screen and(max-width:1000px) {
        all: unset;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }
    .contact {
      right: 2rem;
      bottom: 2rem;
      @media screen and(max-width:1000px) {
        all: unset;
        font-size: 2rem;
      }
    }
  }
  .socialLinks {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    right: 3.5rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    @media screen and(max-width:600px) {
      z-index: 20;
    }

    img {
      border-radius: 50%;
      outline: 2px solid transparent;
      margin: 0.5rem;
      height: 2rem;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all ease-in-out 0.5s;
      @media screen and(max-width:1000px) {
      }
      &:hover {
        cursor: pointer;
        transform: rotate(360deg);
      }
    }
    .ig {
      @media screen and(max-width:600px) {
        display: none;
      }
    }
    @media screen and(max-width:800px) {
      width: 100%;
      right: 0;
      height: 6rem;
      top: 0;
      z-index: 1;
      flex-direction: row;
    }
  }
}
