::-webkit-scrollbar {
  display: none;
}

.l:hover {
  color: #fd4848;
  cursor: pointer;
}

.container {
  width: 100%;
  position: relative;
  margin: 9rem 0;
}

.container .plateHolder {
  display: block;
}

.container .navbtn {
  position: fixed;
  font-size: 2.05rem;
  z-index: 12;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .container .navbtn {
    margin-bottom: 1rem;
  }
}

.container .logo {
  left: 2rem;
  top: 2rem;
}

.container .work {
  right: 2rem;
  top: 2rem;
}

.container .about {
  left: 2rem;
  bottom: 2rem;
}

.container .contact {
  right: 2rem;
  bottom: 2rem;
}

.container .socialLinks {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 3.5rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .socialLinks img {
  border-radius: 50%;
  outline: 2px solid transparent;
  margin: 0.5rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container .socialLinks img:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (max-width: 1000px) {
  .container .socialLinks {
    all: unset;
    width: 100%;
    height: 5rem;
  }
}

.container .work-div {
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

@media screen and (max-width: 1000px) {
  .container .work-div {
    width: 100%;
    padding: 2rem;
  }
}

.container .work-div .project .p-image {
  width: 100%;
}

.container .work-div .project .p-heading {
  font-size: 2rem;
  margin: 2rem 0;
  color: #000000;
}

.container .work-div .project .p-heading:hover {
  color: #fd4848;
}

.container .work-div .project .p-about {
  color: #000000;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-family: neueLight;
}

.container .work-div .project .technologies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .work-div .project .technologies p {
  border-radius: 25px;
  background-color: rgba(255, 0, 0, 0.089);
  padding: 0.4rem 1rem;
  color: #fd4848;
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 2rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.container .aboutHolder {
  width: 70%;
  display: none;
  margin: auto;
  margin-top: 5rem;
}

.container .aboutHolder .img {
  width: 100%;
  position: relative;
  min-height: 35rem;
}

.container .aboutHolder .img img {
  max-height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
}

.container .aboutHolder .img #container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 49;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
}

.container .aboutHolder .img #container #circle {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
}

.container .aboutHolder .img #container #circle .text {
  color: #fd4848;
  font-weight: bold;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .aboutHolder .img #container #circle svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 20rem;
  height: 20rem;
  background-color: transparent;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(1px);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-filter: blur(0px);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(1px);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-filter: blur(0px);
  }
}

.container .aboutHolder .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  gap: 5rem;
}

.container .aboutHolder .aboutText .a-left {
  width: 40%;
}

.container .aboutHolder .aboutText .a-left .name {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 200;
}

.container .aboutHolder .aboutText .a-left .nameText {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.container .aboutHolder .aboutText .a-right {
  width: 60%;
}

.container .aboutHolder .aboutText .a-right .more {
  margin-bottom: 3rem;
  font-size: 1.05rem;
  font-weight: lighter;
  line-height: 1.5rem;
}

.container .contactHolder {
  width: 100%;
  position: fixed;
  height: 0vh;
  background: rgba(0, 0, 0, 0.387);
  padding-top: 30vh;
  z-index: 200;
  display: none;
  bottom: 0;
}

.container .contactHolder .like {
  position: absolute;
  right: 3rem;
  width: 6rem;
  cursor: pointer;
  border-radius: 50%;
  height: 6rem;
  bottom: 3rem;
  background-color: #fd4848;
}

.container .contactHolder .like:hover {
  padding: 0.5rem;
}

.container .contactHolder .like img {
  border-radius: 50%;
}

.container .contactHolder .close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 30vh;
  cursor: pointer;
}

.container .contactHolder .close:hover {
  padding: 0.1rem;
}

.container .contactHolder .c-left {
  width: 50%;
  height: 100%;
}

.container .contactHolder .c-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .contactHolder .c-right {
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 2rem 2rem;
}

.container .contactHolder .c-right .c-head .heading {
  font-size: 1.05rem;
}

.container .contactHolder .c-right .c-head .input {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .contactHolder .c-right .c-head .input .email {
  all: unset;
  outline: 1px solid #000000;
  padding-left: 1rem;
  text-align: left;
  width: 13rem;
  height: 2.5rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.container .contactHolder .c-right .c-head .input .email:focus {
  outline: 1px solid #fd4848;
}

.container .contactHolder .c-right .c-head .input .p-subscribe {
  cursor: pointer;
  border-radius: 50%;
  height: 5rem;
  background-color: #fd4848;
  color: #ffffff;
  font-weight: bold;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  padding: 1rem;
  margin-left: 1rem;
}

.container .contactHolder .c-right .otherProjects .heading {
  font-size: 1.05rem;
}

.container .contactHolder .c-right .otherProjects .content {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container .contactHolder .c-right .otherProjects .content .other {
  margin-right: 2rem;
}

.container .contactHolder .c-right .otherProjects .content .other .heading {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.container .contactHolder .c-right .otherProjects .content .other .link {
  color: #000000;
  font-size: 1.2rem;
  font-weight: lighter;
}

.container .contactHolder .c-right .otherProjects .content .other .link:hover {
  color: #fd4848;
}

.container .contactHolder .c-right .feedback .heading {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.container .contactHolder .c-right .feedback .link {
  color: #000000;
  font-size: 1.2rem;
  font-weight: lighter;
}

.container .contactHolder .c-right .feedback .link:hover {
  color: #fd4848;
}

.container .contactHolder .c-right .imgLin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .contactHolder .c-right .imgLin img {
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.container .contactHolder .c-right .imgLin img:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.container .projectPreview {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  display: none;
}

.container .projectPreview img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: 1rem;
}

.container .projectPreview .projectDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 8rem;
  gap: 5rem;
}

.container .projectPreview .projectDesc .p-left {
  width: 40%;
}

.container .projectPreview .projectDesc .p-left .p-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.container .projectPreview .projectDesc .p-left .year {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.container .projectPreview .projectDesc .p-left .p-desc {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.container .projectPreview .projectDesc .p-left .p-desc:hover {
  text-decoration: underline;
}

.container .projectPreview .projectDesc .p-left a {
  font-size: 1.2rem;
  display: none;
}

.container .projectPreview .projectDesc .p-right {
  width: 60%;
}

.container .projectPreview .projectDesc .p-right .text {
  font-size: 1.05rem;
  font-weight: lighter;
  line-height: 1.5rem;
}

.container .projectPreview .p-controls {
  margin: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .projectPreview .p-controls h5 {
  font-size: 1.8rem;
  font-weight: 400;
}

.container .projectPreview .p-controls h5:hover {
  cursor: pointer;
  color: #fd4848;
}
/*# sourceMappingURL=main.css.map */